* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 背景 */
#app {
  min-height: 100vh;
  background-color: rgb(188, 188, 188);
}

/* 顶栏样式 */
#app .page_header {
  background-color: #7ae4d8e3;
  font-weight: 700;
}

#app .page_header .header_warp .container {
  position: relative;
  max-width: calc(100% - 60px);
  margin: 0 auto;
  padding: 0;
}

#app .page_header .header_warp .container .my_header .nav_list {
  overflow: auto;
  min-width: 980px;
  float: none;
}

#app .page_header .header_warp .container .my_header .nav_list ul {
  display: flex;
  justify-content: center;
  /*padding-top: 64px;*/
}

#app .page_header .header_warp .container .my_header .nav_list ul li:not(li:first-child) {
  display: flex;
  justify-content: center;
  line-height: 50px;
  border-right: 1px solid #fff;
  background-color: rgba(202, 202, 202, 0.5);
}

#app .page_header .header_warp .container .my_header .nav_list ul li:not(li:first-child) a {
  flex: 1 1 auto;
  text-align: center;
  padding: 0 14px;
}

#app .page_header .header_warp .container .my_header a:hover {
  background-color: #80bfb5;
  font-size: 1em;
  color: #fff !important;
}

#app .page_header .header_warp .container .my_header .nav_list ul li:first-child {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 50px;
}

#app .page_header .header_warp .container .my_header .nav_list ul li:first-child .logo {
  font-size: 24px;
}

#app .page_header .header_warp .container .my_header .nav_list ul li:nth-child(2) {
  border-left: 1px solid #fff;
}

#app .page_header .header_warp .container .my_header .user {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 50px;
}

#app .page_header .header_warp .container .my_header .user div {
  margin-left: 10px;
}

#app .page_header .header_warp .container .my_header .search-box {
  position: absolute;
  top: 0;
  right: 120px;
}

#app .page_header .header_warp .container .my_header .search-box .search-txt {
  border: 0;
  border-radius: 20px 0 0 20px;
}

#app .page_header .header_warp .container .my_header .search-box .search-btn {
  background-color: #fff;
  border-radius: 0 20px 20px 0;

}

/* 顶栏与内容的距离 */
#app .space {
  height: 3.5rem;
}

/* 用户方登陆 注册 密码界面 */
#app .page_account .warp .container .row {
  position: relative;
  max-width: 60%;
  min-width: 550px;
  margin: 0 auto;
  border: 1px solid #f3f5f7;
  justify-content: start;
  border-radius: 20px;
  background-image: linear-gradient(#6bd5c9, #8cf8eb 60%, #ffffff 60%, #ffffff);
}

#app .page_account .warp .container .row .col-12:nth-child(1) {
  position: static;
  margin: 30px 18% 138px 6%;
  flex: 0 0 76% !important;
  max-width: 76% !important;
  width: 76% !important;
  border-radius: 20px;
}

#app .page_account .warp .container .row .col-12:nth-child(1) .card {
  position: static;
  border-radius: 30px;
  border: 10px solid #4B5257;
}

#app .page_account .warp .container .row .col-12:nth-child(1) .card .form_login form .geetest_box {
  width: 100%;
  flex-wrap: wrap;
}

#app .page_account .warp .container .row .col-12:nth-child(1) .card .form_login form .geetest_box .geetest_box_title {
  margin-bottom: 8px;
}

#app .page_account .warp .container .row .col-12:nth-child(1) .card  form .btns_bottom {
  position: absolute;
  top: 110px;
  right: 4%;
  width: 12%;
}

#app .page_account .warp .container .row .col-12:nth-child(1) .card form .btns_bottom .btn_item {
  line-height: 40px;
  background-color: #92CCE1;
  color: black;
  font-weight: 700;
  border: 4px solid black;
}

#app .page_account .warp .container .row .col-12:nth-child(1) .card form .btns_bottom .forgot_nav {
  line-height: 48px;
  margin-top: 20px;
  background-color: #92CCE1;
  text-align: center;
  color: black;
  font-weight: 700;
  border: 4px solid black;
}

#app .page_account .warp .container .row .col-12:nth-child(2) {
  visibility: visible;
  position: absolute;
  bottom: 0;
  left: 6%;
  max-width: 76% !important;
  width: 76% !important;
  font-weight: 700;
}

#app .warp .container .row .col-12:nth-child(2) .card {
  border: 0;
  margin-bottom: 16px;
  background-color: transparent;
  box-shadow: none;
}

#app .warp .container .row .col-12:nth-child(2) .card > div > div:first-child {
  margin-bottom: 6px !important;
}

#app .warp .container .row .col-12:nth-child(2) .card > div > .btn_item {
  background-color: #0F7076;
  border-radius: 4px;
}

/* home */
#app #root_demo .warp:nth-child(2) {
  margin-top: -20px;
}

#app #root_demo .warp:nth-child(2) .container .row .col-12 .sw_no {
  justify-content: center;
}

#app #root_demo .warp:nth-child(2) .container .row .col-12 .sw_no .swiper_img {
  width: 100%;
}

#app #root_demo .warp:nth-child(2) .container .row .col-12 .sw_no .card_notice {
  position: fixed;
  bottom: 50px;
  left: 0;
  width: 12.5%;
}

#app #root_demo .warp:nth-child(2) .container .row .col-12 .sw_no .card_notice .notice_title {
  background-color: #93D7CF;
}

#app #root_demo > .warp:nth-child(n+2) {
  margin-bottom: 30px;
}

#app #root_demo > .warp:nth-child(n+8) {
  margin-bottom: 76px;
}

#app #root_demo > .warp:nth-child(n+4) .container .row .col-12 {
  display: flex;
}

#app #root_demo .warp .container .row .col-12 > div:first-child:not(.sw_no) {
  background-color: transparent;
}

#app #root_demo .warp .container .row .col-12 > div:first-child:not(.sw_no) {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin: 0 6px 0 6px;
  border: 3px dashed rgba(15, 112, 118, .6);;
}

#app #root_demo .warp .container .row .col-12 > div:nth-child(2) {
  flex: 1 1 auto;
}

#app #root_demo .warp .container .row .col-12 > div:first-child:not(.sw_no) > div:first-child {
  width: 38px;
  height: auto;
  padding: 0 ;
  color: #333;
  text-align: center;
}

#app #root_demo .warp .container .row .col-12 > div:first-child:not(.sw_no) .more_box {
  padding: 0;
  height: auto;
}

#app #root_demo .warp .container .row .col-12 > div:first-child:not(.sw_no) .more_box a.more {
  background-color: #93D7CF;
  border: 0;
}


#app #root_demo .warp .container .row .col-12 > div:first-child:not(.sw_no) .more_box a.more:hover > span {
  color: #0F7076;
}

#app .list_goods > .goods,
#app nav.list_article a.article_warp,
#app .diy_view_list > a.goods {
  border: 5px double rgba(15, 112, 118, .6);
  border-radius: 10px 22px;
}

#app .list_goods > .goods:hover,
nav.list_article a.article_warp:hover,
.diy_view_list > a.goods:hover {
  transform: translateY(-2px) scale(1);
  border: 0;
  box-shadow: 0 8px 12px 6px rgba(0, 0, 0, .1);
}

#app .list_goods > .goods img,
#app nav.list_article a.article_warp img,
#app .diy_view_list > a.goods img {
  border-radius: 8px;
}

/* page_article */
#app > div:nth-child(3) {
  padding: 20px 0;
  background-color: rgba(255, 255, 255, .7);
}

#app .page_article .warp .container .row .col-12.col-lg-9.col-md-12 {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100% !important;
  flex-basis: 100% !important;
}

#app .page_article .warp .container .row > .col-12:nth-child(2) {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 11% !important;
  height: auto;
  margin-left: 1rem;
  border: 2px dashed #53777c;
  padding: 10px !important;
  border-radius: 6px;
}

#app .page_article .warp .container .row > .col-12:nth-child(2) > .list_hot .hot_title {
  line-height: 42px;
  font-weight: 700;
}

#app .page_article .warp .container .row .col-12.col-lg-9.col-md-12 .card .article_detail .div_article .content p img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* btn-outline-primary */
#app .container .row .btn-outline-primary {
  color: #0F7076 !important;
  border-color: #0F7076 !important;
}

#app .container .row .btn-outline-primary:hover {
  color: #fff !important;
  background-color: #0F7076;
}

/* page_notice */
#app .page_notice:not(.notice-detail) .warp .container .row {
  margin-bottom: 20px;
}


#app .page_notice:not(.notice-detail) .warp .container .row .col-12 .car_notice .notice_list > a.notice_block {
  position: relative;
  width: 200px;
  height: 100px;
  background: linear-gradient(-150deg, transparent 1.5em, #acefe1 0);
  border-radius: .5em;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to left bottom, transparent 50%, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .4)) 100% 0 no-repeat;
    width: 1.73em;
    height: 3em;
    transform: translateY(-1.3em) rotate(-30deg);
    transform-origin: bottom right;
    border-bottom-left-radius: inherit;
    box-shadow: -.2em .2em .3em -.1em rgba(0, 0, 0, .15);
  }
}

/*#app .page_notice:not(.notice-detail) .warp .container .row .col-12 .car_notice .notice_list > a.notice_block:hover {
  background-color: #91ece1;
}*/

#app .page_notice:not(.notice-detail) .warp .container .row .col-12 .car_notice .notice_list > a.notice_block:hover > div {
  color: #fff;
}

#app .page-item.active .page-link {
  background-color: #8AD8D2;
  border-color: #8AD8D2;
}

#app .page_notice:not(.notice-detail) .warp .container .row .col-12 .car_notice .notice_list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 66px;
}

#app .page_notice:not(.notice-detail) .warp .container .row .col-12 .car_notice .notice_list .notice_list_title {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(15, 112, 118, .6);
}

#app .page_notice:not(.notice-detail) .warp .container .row .col-12 .car_notice .notice_list .notice_list_title > span.title {
  padding: 0 16px;
}

#app .page_notice:not(.notice-detail) .warp .container .row .col-12 .car_notice .notice_list > span {
  border: 3px solid rgba(15, 112, 118, .6);
  border-radius: 16px;
}

#app .page_notice:not(.notice-detail) .warp .container .row .col-12 .car_notice .notice_list > div:not(.notice_content) {
  text-align: center;
}

/* 商城资讯、中心 */
#app .page_article .warp .container .row .col-12.col-md-9 > div:first-child > div:first-child,
#app .page_goods .warp .container .row .col-12:first-child > div:first-child > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #6FA9AD;
  border-radius: 20px;
}

#app .page_article .warp .container .row .col-12.col-md-9 > div:first-child > div:first-child > span.title,
#app .page_goods .warp .container .row .col-12:first-child > div:first-child > div:first-child > span.title {
  padding: 0;
  line-height: 1;
}

#app .page_article .warp .container .row .col-12.col-md-9 > div:first-child > div:first-child > .search_box,
#app .page_goods .warp .container .row .col-12:first-child > div:first-child > div:first-child > .search_box {
  padding: 0;
}

#app .page_article .warp .container .row .col-12 .hot_title,
#app .page_article .warp .container .row .col-12 .filter_block .bar_filter,
#app .page_goods .warp .container .row .col-12 .hot_title,
#app .page_goods .warp .container .row .col-12 .filter_block .bar_filter {
  color: #333 !important;
}

#app .page_article .warp .container .row .col-12 .btn-secondary,
#app .page_goods .warp .container .row .col-12 .btn-secondary{
  background-color: #99D7CD;
  border: 0;
  margin-right: 20px;
}

#app .page_article .warp .container .row .col-12 .filter_block > div:nth-child(odd),
#app .page_goods .warp .container .row .col-12 .filter_block > div:nth-child(odd) {
  margin-bottom: 10px;
}

#app .page_article .warp .container .row .col-12 .filter_block > div:nth-child(even),
#app .page_goods .warp .container .row .col-12 .filter_block > div:nth-child(even) {
  margin-bottom: 30px;
}

#app .page_article .warp .container .row .col-md-3 {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 16% !important;
  height: auto;
  margin-left: 1rem;
  border: 3px dashed #17A2B8;
  border-radius: 6px;
}

#app .page_goods .warp {
  position: relative;
}

#app .page_goods .warp .container .row .col-12.page_goods_list_hot {
  position: absolute;
  top: 0;
  left: 0;
  width: 20% !important;
  height: auto;
  margin-left: 1rem;
  border: 1px dashed #17A2B8;
  border-radius: 2px;
}

#app .page_article .warp .container .row .col-12 .card_article_hot .hot_title {
  margin: 0;
  justify-content: start;
  
}

#app .page_goods .warp .container .row .col-12 .card_list_hot .hot_title {
  margin: 0;
}

#app .page_goods .warp .container .row .col-12 .card_list_hot .list_goods_hot .media > img {
  height: 130px;
}

/* 商城中心热门列表 */
#app .page_goods .warp .container .row .col-12 .card_list_hot .list_goods_hot .card_goods_list {
  justify-content: space-between;
}

#app .page_goods .warp .container .row .col-12 .card_list_hot .list_goods_hot .card_goods_list .goods {
  border: 1px solid rgba(15, 112, 118, .6);
  border-radius: 10px;
  width: calc(50% - 8px);
  margin: 0.5rem 0;
}

#app .page_goods .warp .container .row .col-12 .card_list_hot .list_goods_hot .card_goods_list .goods a.goods_nav .media {
  width: auto;
  height: auto;
}

#app .page_goods .warp .container .row .col-12 .card_list_hot .list_goods_hot .card_goods_list .goods a.goods_nav img {
  border-radius: 8px;
}

#app .page_goods .warp .container .row .col-12 .card_list_hot .list_goods_hot .card_goods_list .goods a.goods_nav .good_bottom .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 商品详情 */
#app #goods_details .warp {
  position: relative;
}

#app #goods_details .warp .container .row .col-12.col-md-2 {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 16% !important;
  width: 16% !important;
  height: auto;
  margin-left: 1rem;
  border: 1px dashed #17A2B8;
  border-radius: 2px;
}

#app #goods_details .warp .container .row .col-12 .card_aside {
  border: 1px dashed #17A2B8;
  border-radius: 2px;
  padding: 2px 6px;
}

#app #goods_details .warp .container .row .col-12 .card_aside .list_goods_hot .card_goods_list {
  justify-content: space-between;
}

#app #goods_details .warp .container .row .col-12 .card_aside .list_goods_hot .card_goods_list .goods {
  border: 1px solid rgba(15, 112, 118, .6);
  border-radius: 10px;
  width: calc(50% - 8px);
  margin: 0.5rem 0;
}

#app #goods_details .warp .container .row .col-12 .card_aside h5 {
  text-align: center;
}

#app #goods_details .warp .container .row .col-12 .card_aside img {
  width: 100% !important;
  border-radius: 8px;
}

#app #goods_details .warp .container .row .col-12 .pr-md-2 .card_div_goods .div_goods.container .row .col-12.col-md-6 > div .goods_name {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#app #goods_details .warp .container .row .col-12 .card_aside .goods a.goods_nav .media {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

#app #goods_details .warp .container .row .col-12 .card_aside .goods a.goods_nav .good_bottom .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#app #goods_details .warp .container .row .col-12 .pr-md-2 .card_bottom_goods .comment_box .form_editor {
  max-width: 100%;
  width: 100%;
}

/* page_forum */
#app .page_forum .warp .container .row .col-12 .card_forum_list .search_box {
  position: relative;
  margin-bottom: 30px;
}

#app .page_forum .warp .container .row .col-12 .card_forum_list .search_box > input {
  border: 0;
  border-radius: 20px;
}

#app .page_forum .warp .container .row .col-12 .card_forum_list .search_box > select {
  z-index: 999;
  position: absolute;
  top: 0;
  right: 146px;
  width: 6em !important;
  height: 31px;
  border-top: 0;
  border-bottom: 0;
  border-radius: 0;
}

#app .page_forum .warp .container .row .col-12 .card_forum_list .search_box > select:focus-visible {
  border: 0;
}

#app .page_forum .warp .container .row .col-12 .card_forum_list .search_box > button {
  z-index: 999;
  position: absolute;
  top: 0;
  right: 110px;
  border: 0;
  color: #333;
  background-color: transparent;
}

#app .page_forum .warp .container .row .col-12 .card_forum_list .search_box > a.add_forum {
  border-radius: 20px;
}

#app .page_forum .warp .container .row .col-12 .card_forum_list .list_forum {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

#app .page_forum .warp .container .row .col-12 .card_forum_list .list_forum > a.item_forum {
  width: calc(50% - 10px);
  border-top: 0;
  border-bottom: 1px solid #fafafa;
}

#app .page_forum .warp .container .row .col-12 .card_forum_list .list_forum > a.item_forum:hover {
  background-color: rgba(15, 112, 118, .1);
}

/* page_exam */
#app .page_exam .warp .container .row .col-12 .exam_list_title .search_box > input {
  margin-right: 0 !important;
  border: 0;
  border-radius: 20px 0 0 20px;
}

#app .page_exam .warp .container .row .col-12 .exam_list_title .search_box > button {
  height: 31px;
  color: #333;
  background-color: #fff;
  border: 0;
  border-radius: 0 20px 20px 0;
}

#app .page_exam .warp .container .row .col-12 .exam_list_content {
  margin-bottom: 30px;
}

/* i_want_to_customize_edit */
#app .diy_edit .warp .container .row .col-12 .diy_field > input {
  background-color: #fafafa;
}

/* 个人账户 */
#app .page_user .warp .container > div {
  display: flex;
}

#app .page_user .warp .container > div > div:nth-child(1) {
  width: auto !important;
  flex: 0 0 auto;
  flex-basis: auto !important;
  margin-right: 10px;
}

#app .page_user .warp .container > div > div:nth-child(1) .list_menu {
  flex-direction: column;
  border: 1px solid rgba(15, 112, 118, .6);
  padding: 10px 0;
  border-radius: 20px;
}

#app .page_user .warp .container > div > div:nth-child(1) .list_menu .menu_item {
  line-height: 38px;
  width: 100%;
  max-width: 100%;
  border: 0;
  padding: 0 10px;
  background-color: transparent;
}

#app .page_user .warp .container > div > div:nth-child(1) .list_menu .menu_item.selected {
  background-color: #A3D2C8;
  border-radius: 12px;
}

#app .page_user .warp .container > div > div:nth-child(2) {
  flex: 1 1 auto;
  width: auto !important;
  padding: 10px !important;
  background-color: rgba(147, 220, 208, .5);
  flex-basis:  auto !important;
  background-image: none;
  border-radius: 20px;
}

/* 收藏 */
#app .page_user .warp .container .item_collect {
  background-color: rgba(255, 255, 255, .6);
}

/* 我的订单 */
#app .page_order .warp .container .row .col-10 .filter_block .bar_filter {
  color: #333 !important;
}

#app .page_order .warp .container .row .col-10 .bar_filter,
#app .page_order .warp .container .row .col-10 .bar_sort {
  height: auto;
}

#app .page_order .warp .container .row .col-10 .btn-secondary{
  background-color: #99D7CD;
  border: 0;
  margin-right: 20px;
  margin-bottom: 6px;
}

#app .page_order .warp .container .row .col-10 .filter_block > div:nth-child(odd) {
  margin-bottom: 10px;
}

#app .page_order .warp .container .row .col-10 .filter_block > div:nth-child(even) {
  margin-bottom: 30px;
}

/* 我的购物车 */
#app .page_cart .warp .container .row .col {
  position: relative;
}

#app .page_cart .warp .container .row .col > button {
  position: absolute;
  bottom: 21px;
  left: 105px;
  background-color: transparent;
}

/* 定制商品 */
#app .diy_list .warp .container > div {
  margin-bottom: 30px;
}

#app .diy_list .warp .container .diy_list_title .col {
  text-align: center;
}

#app .diy_list .warp .container .row .col .view {
  display: flex;
  position: relative;
}

#app .diy_list .warp .container .row .col .view span {
  position: absolute;
  top: 2px;
}

#app .diy_list .warp .container .row .col .view button {
  position: absolute;
  right: 0;
  border: 0;
  background-color: #99D7CD;
}

#app .diy_list .warp .container .row .col .view input:first-of-type {
  margin-left: 100px;
}

#app .diy_list .warp .container .row .col .view input:last-of-type {
  margin-right: 42px !important;
}

#app .diy_list .warp .container .diy_list_select_box .diy_list_select_title {
  line-height: 38px;
}

#app .diy_list .warp .container .diy_list_select_box > div {
  margin-bottom: 20px;
}

#app .diy_list .warp .container .bar_filter {
  height: auto;
}

#app .diy_list .warp .container .diy_list_select_box .diy_list_sort_box .col .view .bar_filter,
#app .diy_list .warp .container .bar_filter > div,
#app .diy_list .warp .container .diy_list_select_box .diy_list_dropdown_box .col .view .bar_filter > div {
  margin-bottom: 10px;
  color: #4B5257 !important;
}

#app .diy_list .warp .container .diy_list_select_box .diy_list_sort_box .col .view .bar_sort > button,
#app .diy_list .warp .container .bar_filter > button,
#app .diy_list .warp .container .diy_list_select_box .diy_list_dropdown_box .col .view .bar_filter > button {
  margin-right: 10px;
  margin-bottom: 10px;
  border: 0;
  background-color: #99D7CD;
}

/* 图片设置 */
#app .diy_list .diy_list_img_box .diy_row .diy_img {
  height: 200px;
}

#app .media > .icon {
  height: 200px !important;
}

#app .media > .icon > img {
  height: 100%;
}

/* 详情页 */
#app .diy_details > div.warp {
  margin-bottom: 40px;
}

#app .diy_details .warp:nth-child(1) .container .row .col > div > div {
  margin-bottom: 20px;
}

#app .diy_details .warp:nth-child(1) .container .row .col > div .diy_details_box .warp .container .details_title {
  line-height: 50px;
  text-align: center;
}

#app .diy_details .warp:nth-child(1) .container .row .col > div .diy_details_box .warp .container .row {
  display: block;
  flex-direction: column;
  align-items: left;
}

#app .diy_details .warp:nth-child(1) .container .row .col > div .diy_details_box .warp .container .row .row_top_wrap .row_1 .diy_img {
  text-align: center;
}

#app .diy_details .warp:nth-child(1) .container .row .col > div .diy_details_box .warp .container .row .row_top_wrap .row_1 .diy_img > img {
  max-width: 60%;
  width: auto;
  height: auto;
  max-height: 380px;
}

#app .diy_details .warp:nth-child(1) .container .row .col > div .diy_details_box .warp .container .row .row_top_wrap .row_2 {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
  border: 1px dashed #0F7076;
}

#app .diy_details .warp:nth-child(1) .container .row .col > div .diy_details_box .warp .container .row .row_top_wrap .row_2 > div {
  width: 50% !important;
  padding: 10px;
}

#app .diy_details .warp:nth-child(1) .container .row .col .diy_details_box .warp .container .row .row_top_wrap .row_2 > div .view {
  display: flex;
}

#app .diy_details .warp:nth-child(1) .container .row .col .diy_details_box .warp .container .row .row_top_wrap .row_2 > div .view > div:first-child {
  margin-right: 10px;
}

#app .diy_details .warp:nth-child(1) .container .row .col .diy_details_box .warp .container .row .view.praise_wrap  {
  display: inline-block;
  width: 50%;
  line-height: 36px;
}

#app .diy_details .warp:nth-child(1) .container .row .col .diy_details_box .warp .container .row .details_btn_wrap {
  display: inline-block;
  width: 50%;
  text-align: right;
}

#app .diy_details .warp:nth-child(1) .container .row .col .diy_details_box .warp .container .row .details_btn_wrap > button {
  margin-right: 2px;
  border: 0;
  background-color: #89D7D3;
}

#app .diy_details .warp:nth-child(1) .container .row .rich_text .view {
  display: flex;
}

#app .diy_details .warp:nth-child(1) .container .row .rich_text .view .diy_title {
  margin-right: 10px;
}

/* 考试界面 */
#app .page_exam .warp .exam-detail .row {
  justify-content: start;
}

/* 购物车界面 */
#app .page_cart .warp .container .row .col .card .cart_block .list_cart {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#app .page_cart .warp .container .row .col .card .cart_block .list_cart .item_cart {
  width: calc(50% - 8px);
  border: 0;
  border-bottom: 1px solid #eee;
}

#app .page_cart .warp .container .row .col .card .cart_block .list_cart .item_cart img {
  height: 120px;
}

/* 待付款界面 */
#app #order_details .warp .container .row .col .card_order {
  background-color: #fff;
}

#app #order_details .warp .container .row .col .card_order .contact_info {
  border-bottom: 1px solid #aaa;
}

#app #order_details .warp .container .row .col .card_order .goods_list {
  display: inline-block;
  width: 50%;
}

#app #order_details .warp .container .row .col .card_order .bottom_order {
  display: flex;
  justify-content: space-between;
}

/* 支付页面 */
#app #page_pay .warp .container .row .col-12 .card .card-header {
  width: 100%;
  position: absolute;
  bottom: 80px;
  border: 0;
  background-color: transparent;
}

#app #page_pay .warp .container .row .col-12 .card .card-body .tabs .tab-content .card-footer {
  margin-top: 70px !important;
  border: 0;
  background-color: transparent;
}

/* 我的订单 */
#app #order_list .warp .container .row .col-10 .card_goods_list .list_order .item_order .goods_list {
  display: inline-block;
  padding-right: 50px;
  width: 50%;
}

/* 定制商品详情 */
#app .diy_details .warp .container .row.diy_edit_content_box .form-item:not(.selected_seat_box) {
  display: flex;
  margin: 10px 0;
}

#app .diy_details .warp .container .row.diy_edit_content_box .form-item:not(.selected_seat_box) .diy_title {
  margin-right: 10px;
}

#app .diy_details .warp .container .row.diy_edit_content_box .form-item.selected_seat_box .seat-wrapper {
  margin: 0 auto;
}

#app .diy_details .warp .container .diy_edit_submit_box .col-12 .btn_box {
  margin-top: 20px;
  text-align: center;
}

#app .diy_details .warp .container .diy_edit_submit_box .col-12 .btn_box .btn_submit {
  padding: 10px 50px;
  border-radius: 10px;
  background-color: #8AD8D2;
}

/* 图书详情 */
#app .diy_details .warp:first-child .container .row .col .diy_details_box .warp .container .details_title {
  text-align: center;
  line-height: 50px;
}

#app .diy_details .warp:first-child .container .row .col .diy_details_box .warp .container .row {
  display: block;
}

#app .diy_details .warp:first-child .container .row .col .diy_details_box .warp .container .row > div {
  width: 100%;
}

#app .diy_details .warp:first-child .container .row .col .diy_details_box .warp .container .row .row_top_wrap .row_1 .diy_img {
  text-align: center;
}

#app .diy_details .warp:first-child .container .row .col .diy_details_box .warp .container .row .row_top_wrap .row_1 .diy_img img {
  width: 60%;
}

#app .diy_details .warp:first-child .container .row .col .diy_details_box .warp .container .row .row_top_wrap .row_2 {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  border: 1px dashed #0F7076;
}

#app .diy_details .warp:first-child .container .row .col .diy_details_box .warp .container .row .row_top_wrap .row_2 > div {
  width: 50%;
  padding: 10px 0;
}

#app .diy_details .warp:first-child .container .row .col .diy_details_box .warp .container .row .row_top_wrap .row_2 > div .view {
  display: flex;
}

#app .diy_details .warp:first-child .container .row .col .diy_details_box .warp .container .row .row_top_wrap .row_2 > div .view .diy_title {
  margin-right: 10px;
}

#app .diy_details .warp:first-child .container .row .col .diy_details_box .warp .container .row .view.praise_wrap {
  display: inline-block;
  width: 50%;
  line-height: 38px;
}

#app .diy_details .warp:first-child .container .row .col .diy_details_box .warp .container .row .details_btn_wrap {
  display: inline-block;
  width: 50%;
  text-align: right;
}

#app .diy_details .warp:first-child .container .row .col .diy_details_box .warp .container .row .details_btn_wrap .btn {
  margin-left: 10px;
  background-color: #89D7D3;
  border: 0;
}

/* 网站公告详情 */
#app .diy_details .warp:first-child .container .row .col .diy_details_box .warp .container .details_title {
  text-align: center;
  line-height: 50px;
}

#app .diy_details .warp:first-child .container .row .col .diy_details_box .warp .container .row {
  display: block;
}

#app .diy_details .warp:first-child .container .row .col .diy_details_box .warp .container .row .row_top_wrap .row_2 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 10px 8px 0;
  border: 1px dashed #0F7076;
}

#app .diy_details .warp:first-child .container .row .col .diy_details_box .warp .container .row .row_top_wrap .row_2 .flex_row2_item {
  width: 50% !important;
}

#app .diy_details .warp:first-child .container .row .col .diy_details_box .warp .container .row .row_top_wrap .row_2 .flex_row2_item .view {
  display: flex;
}

#app .diy_details .warp:first-child .container .row .col .diy_details_box .warp .container .row .row_top_wrap .row_2 .flex_row2_item .view .diy_title {
  margin-right: 10px;
  margin-bottom: 10px;
}

#app .diy_details .warp:first-child .container .row .col .diy_details_box .warp .container .row .view.praise_wrap {
  display: inline-block;
  width: 50%;
  line-height: 38px;
}

#app .diy_details .warp:first-child .container .row .col .diy_details_box .warp .container .row .details_btn_wrap {
  display: inline-block;
  width: 50%;
  text-align: right;
}

#app .diy_details .warp:first-child .container .row .col .diy_details_box .warp .container .row .details_btn_wrap > button {
  margin-right: 2px;
  border: 0;
  background-color: #89D7D3;
}

/*  */
#app .editor {
  width: 100% !important;
}

#app .ql-editor p {
  width: 100% !important;
}

/* 评论区图片 */
#app .comment .content > p > img {
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 300px;
}

/* 规定非中日韩文本换行 */
/* #app .comment .content > p {
  word-break: break-all;
} */

/* 分类信息 */
#app .diy_edit .warp .container > .row {
  justify-content: start;
}

#app .diy_edit .warp .container > .row > .form-item {
  display: flex;
  margin-bottom: 12px;
}

#app .diy_edit .warp .container > .row > .form-item .diy_title {
  margin-right: 10px;
}

/* 页脚 */
#app .page_footer {
  height: 200px;
  margin-top: 10px;
  background-color: #A8D6C1;
}

#app .page_footer .wrap .container .row .col .div1:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 15%;
  width: 80px;
  height: 80px;
  background: transparent url(../img/guanyuwomen.png) no-repeat center/cover;
}

#app .page_footer .wrap .container .row .col .div1:after {
  content: "关于我们";
  display: inline-block;
  position: absolute;
  top: 100px;
  left: 15%;
  font-size: 20px;
  color: #fff;
}

#app .page_footer .wrap .container .row .col .div2:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 29px;
  left: 31%;
  width: 64px;
  height: 64px;
  background: transparent url(../img/lianxiwomen.png) no-repeat center/cover;
}

#app .page_footer .wrap .container .row .col .div2:after {
  content: "联系客服";
  display: inline-block;
  position: absolute;
  top: 100px;
  left: 30%;
  font-size: 20px;
  color: #fff;
}

#app .page_footer .wrap .container .row .col .div3:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 29px;
  left: 47%;
  width: 64px;
  height: 64px;
  background: transparent url(../img/hezuohuoban.png) no-repeat center/cover;
}

#app .page_footer .wrap .container .row .col .div3:after {
  content: "合作招商";
  display: inline-block;
  position: absolute;
  top: 100px;
  left: 46%;
  font-size: 20px;
  color: #fff;
}

#app .page_footer .wrap .container .row .col .div4:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 24px;
  left: 63%;
  width: 72px;
  height: 72px;
  background: transparent url(../img/bangzhu.png) no-repeat center/cover;
}

#app .page_footer .wrap .container .row .col .div4:after {
  content: "商家帮助";
  display: inline-block;
  position: absolute;
  top: 100px;
  left: 62%;
  font-size: 20px;
  color: #ffffff;
}

#app .page_footer .wrap .container .row .col .div5:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 28px;
  left: 79%;
  width: 64px;
  height: 64px;
  background: transparent url(../img/xiangmulianjie.png) no-repeat center/cover;
}

#app .page_footer .wrap .container .row .col .div5:after {
  content: "友情链接";
  display: inline-block;
  position: absolute;
  top: 100px;
  left: 78%;
  font-size: 20px;
  color: #fff;
}

#app .page_footer .wrap .container .row .col .div6:before {
  content: "XX公司版权所有 XXXXXXXXXX公司运营：XXX[XXXX] XXXX-XXX号";
  display: inline-block;
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.diy_list .diy_title {
	width: 40%;
}
.diy_list .diy_row{
	display: flex;
	margin: 2px auto;
}
.diy_edit img{
	width: 150px !important;
}